# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build/

# Environment Variables & Secrets (ここが命)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Wallet Keys (ここも命)
key.json
wallet.json
id.json
target/
deploy/

# System
.DS_Store
*.log

.anchor
.anchor/